@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display?swap");

.picture {
    width: 300px;
    height: 300px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    
    background-size: cover;
    background-position: center;
}
.lgpctr {
    width: 80px;
    height: 80px;
    border-radius: 30px;
    margin-right: 20px;
    margin-left: 0;
}
.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: chocolate;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.mycontainer{
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-group{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 300px;
}
.form-radio {
    margin-left: auto;
    margin-right: auto;
   width: 300px;
    margin-bottom: 10px;
}
.logo {
    font-size: 32px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.navitem {
    color: white;
    text-decoration: none;
}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}